html{
  background-color:#FFFFFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-animation: fadein 1.5s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

a{
    text-decoration:none;
    color: #BCAAA4;
}

a:focus, a:hover{
    color: #8D817D;
}

body{
    background-color: transparent !important;
    opacity:0.95;
}

.container {
    width:100%;
}

.container h1{
    font-family:'Mr De Haviland', sans-serif;
    font-size:7vw; /*used to be 85px*/
    color: #BCAAA4;
    margin-top:75px;
    text-align:center;
    text-decoration: none;
}

#innerNavbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link {
    margin: 10px 10px 10px 10px;
    color: #BCAAA4;
    font-family: 'IM Fell Great Primer SC', sans-serif; 
    text-decoration: none;
}

.link:hover {
    color: #8D817D;
}

.footer{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

.icon-footer {
    vertical-align:middle;
    height: 20px; 
    width: auto;
}

.aboutBio {
      cursor: pointer;
      position: relative;
      overflow: hidden;
      width: auto;
      text-align:center;
      display: inline-flex;
      vertical-align: middle;
      -webkit-animation: fadein 1.5s;
}
.aboutBio .fadedbox {
      background-color: #666666;
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      opacity: 0;
      width: -webkit-fill-available;
      height: 459px;
      padding: 130px 20px;
}
.aboutBio:hover .fadedbox { 
    opacity: 0.5; 
}
.aboutBio .text {
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      transform: translateY(30px);
      -webkit-transform: translateY(30px);
}
.aboutBio .title {
      font-size: 2.5em;
      text-transform: uppercase;
      opacity: 0;
      transition-delay: 0.2s;
      transition-duration: 0.3s;
}
.aboutBio:hover .title,
.aboutBio:focus .title {
      opacity: 1;
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
}

.aboutPage{
      height: 450px;
      width: auto;
      margin-top:20px;
      margin-left: 30px;
      display:inline-flex;
      vertical-align: middle;
      -webkit-animation: fadein 1.5s;
}

.aboutText{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    font-family: 'Nanum Myeongjo', serif;
}
